<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConSection" type="ConfigurationSettings.ConnectionSection, Excelsior.Core" />
  </configSections>
  <ConSection>
  <Cons>
    <Con Name="EvoLive" Server="41.76.213.61, 1533" Database="CTech_NuLeaf" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />
    <Con Name="RollsLive" Server="41.76.213.61, 1533" Database="CTech_NuLeaf" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />
    <Con Name="CmmnLive" Server="41.76.213.61, 1533" Database="CTech_NuLeaf" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />

    <Con Name="EvoTest" Server="41.76.213.61, 1533" Database="Hertex" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />
    <Con Name="RollsTest" Server="41.76.213.61, 1533" Database="HertexRollStk" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />
    <Con Name="CmmnTest" Server="41.76.213.61, 1533" Database="CTech_NuLeaf" Username="sa" Password="sql2017" ConnectionTimeOut="300" CommandTimeOut="300" />
  </Cons>
  </ConSection>
</configuration>